* {
  margin: 0px;
  padding: 0px;
}
.App {
  display: flex;
  flex-direction: column;
}

input,
.bio {
  width: 100px;
  padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 30px;
  border-width: 2px;
  border-radius: 5px;
}
/* .btn-sign-up {
  outline: none;
  background: transparent;
  border-color: transparent;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  margin-left: 200px;
} */
.showUser {
  display: none;
}

.header {
  background: gray;
  height: 10vh;
  border-color: blue;
  border-width: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 40px;
  padding-top: 20px;
}
.logout {
  font-weight: bold;
  width: 50px;
  border-radius: 13px;
  height: 30px;
  background-image: linear-gradient(
    to right,
    #ff4e50 0%,
    #f9d423 51%,
    #ff4e50 100%
  );
}
.btn-sign-up {
  font-weight: bold;

  border-radius: 13px;
  height: 30;
  background-image: linear-gradient(
    to right,
    #ff4e50 0%,
    #f9d423 51%,
    #ff4e50 100%
  );
}
.RESULT {
  width: 100%;
  width: 700px;
  height: 300px;
  border-width: 4px;
  border-radius: 4px;
  background-color: beige;
  margin: 10px;
  padding-left: 5px;
}

.component {
  cursor: pointer;
}
.loading {
  margin-top: 20px;
  margin-bottom: 15px;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.a {
  display: flex;
  border: 2px solid black;
  background: lightgray;
  width: 140px;
  justify-content: center;
  border-radius: 4px;
  margin: 30px;
}
.profile {
  width: 130px;
  height: 130px;
  border-radius: 60px;
  padding-bottom: 5px;
  padding-top: 5px;
}

p {
  font-size: large;
}

form {
  display: flex;
  flex-direction: column;
}

.bio {
  border-width: 2px;
  border-color: black;
  border-radius: 4px;
  height: 100px;
  width: 300px;
  resize: none;
}

.inputs {
  display: flex;
  align-items: center;
}
